/* --columbia-blue: #c9f0ffff;
--azure-x-11-web-color: #eafffdff;
--cultured: #efeff0ff;
--languid-lavender: #d5cad6ff;
--old-lavender: #6b5e62ff;
#1D2F6F
#8390FA

#0e1721
#6fb7c4
#fa4856
#ebe6df
 */
/* Event classes */
/* Hide element in the section*/
#content .formContainer .hide {
    display: none;
}
/* when Confirm password input !== New password input */
#content .incorrectInput {
    box-shadow:  0 0 7px 1px red;
}
/* HEADER */
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position-x: -100%;
    background: linear-gradient(138deg, rgba(23,36,54,1) 0%, rgba(27,46,71,1) 54%, rgba(48,106,166,1) 85%, rgba(48,105,163,1) 100%);
    font-size: 0.8em;
}
.navContainer {
    width: 100vw;
    top: 0;
    position: fixed;
    background-color: transparent;
    z-index: 1;
    transition: all .5s ease-in-out;
}
.navScrolled {
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.navScrolled nav .signinButton {
    background-color: #ff4454;
}
.navScrolled nav .signinButton:hover {
    background-color: transparent;
    border: 3px solid #ff4454;
}
.navScrolled nav .signinButton:hover .signinLink {
    color: #ff4454;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a {
    text-decoration: none;
}
nav li {
    list-style-type: none;
}
nav li a {
    color: white;
}
.menuContainer {
    display: flex;
    width: 50vw;
    padding: 2vh 0 2vh 0;
}
.optionContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: inherit;
}
.optionContainer a:hover {
    color: #ff4454;
    transition: all .5s ease-out;
}

.valorantLogo {
    width: 75px;
    height: 50px;
    margin-left: 5vw;
}
.elementVisibility { /* JS: hide searchBar*/
    visibility: visible;
}
.elementInvisibility {
    display: none;
}
.signinButton {
    border-radius: 30px;
    width: 8vw;
    height: 5vh;
    background-color: #8BC6EC;
    border: none;
    margin-right: 5vw;
    transition: all .5s ease-out;
}
.signinLink {
    color: white;
    transition: all .5s ease-out;
}
.signinButton:hover {
    background-color: transparent;
    background-image: none;
    border: 2px solid #8BC6EC;
}
.signinButton:hover .signinLink {
    color: #8BC6EC;
}
#agentList {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-template-rows: repeat(4, 200px);
    column-gap: 14vw;
    row-gap: 20vh;
    padding: 0 5vw 0 5vw;
    /*box-shadow: 10px 10px 21px #d3d3d6,
    -10px -10px 21px #fff;*/
}



/*  SECTION */
#content {
    margin: 30vh 0 30vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* form container */
.formContainer {
    width: 30vw;
    padding: 0px 70px 0px 70px;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    box-shadow:  20px 20px 60px #0c141c,
             -20px -20px 60px #101a26;
    color: white;
    border-radius: 30px;
}
.formContainer h1 {
    margin-top: 0px;
    padding-top: 70px;
    font-weight: bold;
    font-size: 2em;
}
/* form */
.form {
    height: 70vh;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
}
/* inputs only container */
.inputsContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
/* e-mail and password inputs */
.input {
    width: 100%;
    height: 7vh;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    font-size: 1.3em;
    padding-left: 1vw;
    background-color: transparent;
}
.input::placeholder {
    color: white;
}
.input:invalid {
    border-bottom:  1px solid red;
}
.submitButton {
    height: 7vh;
    width: 50%;
    background-color: #8BC6EC;
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 1.3em;
    transition: all .5s ease;
}
.submitButton:hover {
    border: 1px solid #ff4454;
    background-color: transparent;
    color: #ff4454;
    cursor: pointer;
}
/* all .userOptions instances*/
.userOptions {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    padding-bottom: 70px;
}
.userOptions a {
    text-decoration: none;
    color: #ebe6df;
    width: fit-content;
    transition: all 1s ease;
}
.userOptions a:hover {
    color: #ff4454;
}
/* forgot my password user links */
.forgotPassForm .userOptions {
    display: flex;
    
    flex-direction: column;
    align-items: flex-start;
}

/* FOOTER */
#contacts {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    padding: 5vh 0 5vh 0;
}
#contacts a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
/* footer links */
.footerTitle {
    text-transform: uppercase;
}
#links {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* footer icon */
#links img {
    width: 100px;
    height: 100px;
}